@page "/"

<h1>HolisticWare AndroidX Porting App</h1>

<ul>
    <li>
        <a href="https://developers.google.com/android/guides/releases">
        https://developers.google.com/android/guides/releases
        </a>
    </li>
    <li>
        <a href="https://maven.google.com/web/index.html">
        https://maven.google.com/web/index.html
        </a>
    </li>
    <li>
        <a href="https://search.maven.org/search?q">
        https://search.maven.org/search?q
        </a>
    </li>
    <li>
        <a href="https://mvnrepository.com/">
        https://mvnrepository.com/
        </a>
    </li>
    <li>
        <a href="https://androidx.tech/">
        https://androidx.tech/
        </a>
    </li>
</ul>










<SurveyPrompt Title="How is Blazor working for you?" />
